@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    display: flex;
  }
}


/*START INDEX*/

/*start header*/

a {
  color: black;
  text-decoration: none;
}

.header {
  margin-top: 35px;
}

.container {
  display: flex;
  width: 1140px;
  flex-flow: row nowrap;
  margin: 0 auto;
  /*min-height: 100%;*/
}
.container .left_part {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  background: url(img/logo.svg) no-repeat;
  width: 59px;
  height: 51px;
  transition: transform 1s;
}
.logo:hover {
  transform: scale(1.5);
}
.brandname {
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: 0.25mm;
  margin-left: 13px;
  transition: transform 1s;
}
.brandname:hover {
  transform: scale(1.5);
}

.highlite_symbol {
  color: #f16d7f;
  font-weight: 400;
}

.search-container {
  width: 400px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 40px;
  margin-left: 37px;
}
.search-container .button {
  display: inline-block;
  transition: all 0.2s ease;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  display: block;
  transition: all 0.2s ease;
}

.search {
  height: 100%;
  border: none;
  outline: none;
  width: 70%;
  padding-left: 15px;
  font-size: 14px;
  border-right: 1px solid #e6e6e6;
}

.left_part .button a {
  text-align: center;
  text-decoration: none;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 8px;

}
.browse {
  width: 20%;
  border-right: 1px solid #e6e6e6;
  height: 100%;
  color: #f6f6f6 cover;
}
.drop {
  padding: 10px 20px;
  display: none;
  position: absolute;
  top: 90px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid grey;
  padding: 20px;
  width: 262px;
  /*height: 538px;*/
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
  display: none;
}

.drop_link a {
  text-decoration: none;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  list-style-type: none;
}
.drop:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 31px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.menu__list {
  position: relative;
  text-align: left;
  bottom: 10px;
}
.menu__list:hover .drop {
  display: block;
}
.drop_link:hover {
  color: #f16d7f;
}
.drop__menu {
  list-style-type: none;
  padding-right: 32px;
}

.drop_flex:last-of-type {
  margin-right: 0;
}
.drop__h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  text-align: left;
  margin-bottom: 20px;
}
.container .right_part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.basket {
  /*background-image: url(img/basket.svg);*/
  width: 32px;
  height: 29px;
  margin-right: 27px;
}
.drop_down_basket {
  display: none;
  flex-direction: column;
  width: 262px;
  flex-wrap: nowrap;
  height: 440px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px;
  position: relative;
  right: 20px;
}
.drop_down_basket:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 31px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.buy1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgb(241, 240, 240);
}
.left_buy1 {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 18px;
}
.right_buy1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}
.right_buy1 .purchase {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #222222;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
}
.right_buy1 img {
  margin-bottom: 5px;
}
.drop_down_basket .number2 {
  width: 20px;
  margin-top: 35px;
  margin-bottom: 30px;
  width: 262px;
  text-align: left;
  border: none;
  outline: none;
  padding-left: 18px;
}
.basket:focus ~ .drop_down_basket,
.basket:active ~ .drop_down_basket .drop_down_basket:hover {
  display: block;
}

.order button2 {
  display: block;
  flex-direction: column;
}
.button2 {
  width: 225px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 15px;
}
.button3 {
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 15px;
}
.button2 span {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.right_part .button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  flex-direction: row;
  transition: all 0.2s ease;
}
.right_part .button a {
  text-decoration: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  padding-left: 19px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 22px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
  align-items: center;
}

.nav_menu a {
  text-decoration: none;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.drop1_wrapper {
  display: none;
  
}

.drop1 {
  padding: 10px 20px;
  display: flex;
  position: absolute;
  top: 160px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid grey;
  padding: 20px;
  width: 262px;
  height: 538px;
  border-radius: 5px;
  background-color: #ffffff;
  width: 716px;
  height: 360px;
}
.drop1__link {
  text-decoration: none;
  line-height: 28px;
}

.drop1__link a {
  text-decoration: none;
  list-style-type: none;
}
.drop1:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 31px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.menu__list {
  position: relative;
  text-align: left;
  bottom: 10px;
}
.menu__list a {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}
.menu__list:hover .drop1 {
  display: block;
}
.drop1__link:hover {
  color: #f16d7f;
}
.drop1__menu {
/*  display: inline-flex;
  flex-direction: column;*/
  list-style-type: none;
  padding-right: 32px;
}
.drop1__flex {
  margin-right: 46px;
 /*display: block;*/
}
.drop1__flex:last-of-type {
  margin-right: 0;
}
.drop1__h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  text-align: left;
  margin-bottom: 20px;
  padding: 8px 0;
}

/*header end*/

/*start brand*/

.brand {
  background-image: url(img/men.png);
  width: 100%;
  margin-bottom: 98px;
}
.text_brand {
  border-left: 12px solid #f16d7f;
  padding-left: 13px;
  font-family: "Lato";
  margin: 224px 0 297px 0;
}
.text_brand1 {
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: 900;
  text-align: left;
}
.text_brand2 {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 900;
}
.text_brand2 span {
  color: #f16d7f;
  letter-spacing: 1px;
}

/*end brand*/

/*start offer content*/

.offer {
  height: 823px;
  margin-top: 100px;
  font-weight: 900;
  font-family: "Lato";
  text-transform: uppercase;
  margin-bottom: 100px;
}
.offer__content {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.offer__content_big1 {
  background: url(img/men1.png) top center / cover;
  width: 96.5%;
  height: 542px;
}
.offer__content_mini1 {
  background: url(img/wallet.png) top center / cover;
  width: 96.5%;
  height: 261px;
}
.offer__content__mini2 {
  background: url(img/women.png) top center / cover;
  width: 96.5%;
  height: 261px;
}
.offer__content_big2 {
  background: url(img/child.png) top center / cover;
  width: 96.5%;
  height: 542px;
}

.hot_deal {
  font-size: 18px;
}

.product_name {
  font-size: 30px;
  color: #f16d7f;
}

.product_text {
  background-color: #fff;
  display: inline-flex;
  padding: 16px 21px 16px 19px;
  margin-top: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}

/*end offer content*/

/*start featured items*/

.center {
  text-align: center;
}

.featured_items_container {
  display: flex;
  justify-content: center;
}
.featured_items {
  margin-bottom: 60px;
}
.featured1 {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-bottom: 10px;
}
.featured2 {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

/*end featured items*/

/* start cards container*/

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product_item {
  background-color: #ffffff;
  transition: all 0.2s ease;
  margin-bottom: 39px;
  position: relative;
  width: 261px;
}

.filter {
  height: 279px;
  width: 100%;
  background-color: rgba(00, 00, 00, 0.5);
}
.product_item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  filter: brightness(50%);
}
.product_item:hover .product_add {
  display: block;
}

.product_list h3 {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 30px;
}
.product_list .price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 30px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product_list .p img {
  display: none;
  margin-left: 116px;
}

.product_add {
  position: absolute;
  text-decoration: none;
  display: block;
  top: 98px;
  left: 70px;
  display: none;
  width: 123px;
  height: 39px;
  border: 2px solid #ffffff;
  color: white;
}
.product_add:hover {
  box-shadow: 0 0 20px #fff;
}
.product_add a {
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 108px 158px 151px 82px;
}
.product_add img {
  width: 23px;
  height: 22px;
  margin-right: 8px;
  align-items: center;
}

/*end cards conrainer*/

/*start browse_button container*/

.browse_button {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
  transition: all 0.2s ease;
}
.browse_button .button {
  background-color: #f16d7f;
  text-decoration: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-align: center;
  padding: 18px 24px 19px 24px;
  transition: all 0.2s ease;
}

/*end browse_button container*/

/*start discount*/

.discount {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}
.offer_women {
  background: url(img/Layer_38.png) top center / cover;
  width: 70%;
  position: relative;
}
.offer_women .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
   
}
.offer_women:hover .after {
    display: block;
    background-image: url(img/Layer_39.png);
}
.text_offer {
  margin: 146px 435px 305px 39px;
  text-transform: uppercase;
}
.text_offer1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
}
.text_offer1 span {
  color: #f16d7f;
  letter-spacing: 1.5px;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
}
.text_offer2 {
  font-size: 32px;
  letter-spacing: 0.9px;
  color: #ffffff;
  font-family: Lato;
}
.delivery {
  background-color: #222224;
  width: 35%;
}
.delivery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 55px;
  padding-left: 35px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center;*/
  align-items: center;
}
.card__img {
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.card p {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-align: left;
  margin-bottom: 62px;
  /*padding-top: 20px;*/
  width: 229px;
}

.card h3 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
}

/*end discount */

/* start subscribe*/

.subscribe {
  background-image: url(img/Layer_41.png);
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  display: inline-flex;
  height: 438px;
}
.left_subscribe {
  /*width: 790px;*/
  flex-direction: column;
  flex-wrap: nowrap;
}
.left_subscribe img {
  width: 83px;
  height: 83px;
  /*margin-right: 10px;*/
  text-align: left;
}
.left_subscribe figcaption {
  flex-direction: row;
  text-align: justify;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-left: 20px;
  width: 386px;
  height: 68px;
  margin-bottom: 20px;
  padding-left: 80px;
}
figure {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 123px;
}
.rectangle22 .rectangle {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 38px;
  height: 4px;
}

figcaption h1 {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
figcaption p {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.burhan_text p {
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
  text-align: left;
}
.burhan_text span {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato - Bold";
  letter-spacing: 0.4px;
  line-height: 26px;
  text-align: left;
}
.right_subscribe {
  width: 790px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.right_subscribe p {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}
.right_subscribe h1 {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
  width: 277px;
  text-align: center;
}

form {
  display: flex;
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
}
.trending_size_form {
  margin-top: 0;
}
.button_subscribe {
  background-color: #f16d7f;
  height: 100%;
  padding: 1px 20px;
  align-self: flex-end;
  border-radius: 0 23px 23px 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
}
.input_email {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 28px;
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  /* Text style for "E, nter Yo" */
  letter-spacing: 0.35px;
}

/*end subscribe*/

/*start footer*/

.footer {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  margin-top: 123px;
  margin-bottom: 90px;
 
}
.footer_brand {
  width: 427px;
  
}

.footer_brand .article {
  padding-top: 41px;
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  width: 427px;
  text-align: left;
}
.footer_logo:hover {
  transform: scale(1.5);
}
.footer_logo {
  transition: transform 1s;
}
.right_footer_part {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 64px;
  padding-top: 25px;
  width: 100%;
}
.footer_menu1 {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.footer_menu1 li {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.nav_menu1 {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  list-style-type: none;
}
.nav_menu1 a {
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 59px;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-align: left;
}
.footer_company {
  margin-right: 129px;
}
.footer_company h1 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
.footer_information {
  margin-right: 80px;
  width: 100%;
  text-align: left;
}
.footer_information h1 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
.footer_shop {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.footer_shop h1 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  width: 154px;
  margin-bottom: 45px;
}
.footer_icons_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89%;
  align-items: center;
  height: 79px;
}
.soc_icons {
  width: 100%;
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 28px;
}
.all_right {
  height: 14px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.all_right p {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  /*line-height: 42px;*/
  letter-spacing: 0.4px;
}
.icon-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #777;
  color: #ddd;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.icon-link:hover {
  color: #777;
  background-color: #f16d7f;
}
/*.twitter_icon {
  background-color: #f16d7f;
  padding: 10px;
  width: 32px;
  height: 32px;
}
.facebook_icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 10px;
}
.instagram_icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 10px;
}
.pinterest_icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 10px;
}
.google_icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 10px;
}*/

/*START PRODUCT PSD*/

/*start new_arrivals*/

.new_arrivals {
  display: flex;
  flex-direction: row;
  height: 148px;
  background-color: #f8f3f4;
  width: 100%;
}
.left_arrivals {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  width: 100%;
}
.new_arrivals h1 {
  color: #f16d7f;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  margin-top: 65px;
  padding-right: 300px;
}
.right_arrivals {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
  width: 100%;
}
.nav_menu2 {
  text-decoration: none;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  justify-content: flex-end;
  margin-top: 69px;
  padding-left: 350px;
}
.nav_menu2 a {
  color: #636363;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Lato - Light";
  font-weight: 300;
}
.nav_menu2 span {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Lato - Bold";
}

/*end new_arrivals*/

/*start trending_container*/

.trending {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin-top: 70px;
  width: 100%;
  justify-content: center;
}
.sidebar {
  margin-right: 40px;
  background-color: #ffffff;
  /*position: fixed;*/
  height: 100%;
  /* overflow: auto; */
  justify-content: space-between;
  width: 25%;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid rgb(250, 242, 242);
  border-left: 5px solid #f16d7f;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(252, 246, 246);
  color: black;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 138px;
    height: auto;
    position: relative;
  }
  /*.sidebar a {
    align-items: flex-start;
  }*/
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.main_item_menu {
  list-style-type: none;
  margin-bottom: 20px;
}
.sub_menu {
  display: none;
  list-style-type: none;
  font-weight: 400;
}

.main_item_menu:focus ~ .sub_menu,
.main_item_menu:active ~ .sub_menu,
.sub_menu:hover {
  display: block;
}
.sub_menu a {
  border: none;
  background-color: #fff;
  padding: 10px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}
.container {
  /* margin: 80px auto;
  width: 400px;*/
  text-align: center;
}

.container > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /*height: 28px;
  width: 150px;*/
  background: url(img/arrow2.png) no-repeat white;
  /*border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));*/
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before,
.dropdown:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  /*border: 4px dashed;
  border-color: #888888 transparent;*/
  pointer-events: none;
}

.dropdown:before {
  /*border-bottom-style: solid;*/
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  /* border-top-style: solid;*/
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  /*color: #62717a;*/
  text-shadow: 0 1px white;
  /*background: #f2f2f2; /* Fallback for IE 8 */
  /* background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  /*width: 100%;
  /*color: #394349;*/
  /* outline: 2px solid #49aff2;*/
  /* outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;*/
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  /* border-radius: 3px;*/
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

/*end trending_container*/

/*start trending container after sidebar*/

.products_right_part {
  max-width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}
.trending_now {
  display: flex;
  width: 176px;
  height: 39px;
  flex-direction: column;
  align-items: flex-start;
}
.trending_a {
  /* margin-left: 300px; */
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  margin-bottom: 10px;
}
.nav_menu3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.nav_menu3 a {
  display: inline;
  flex-wrap: wrap;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #dfdfdf;
}
.trending_size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trending_size form {
  background-color: #fff;
  color: #6f6e6e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 213px;
  height: 39px;
  justify-content: flex-start;
}

.trending_size_form__item {
  width: 25%;
  text-align: left;
}

.trending_price {
  width: 263px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trending_sort {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f3f3f3;
  padding: 10px 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.trending_sort button {
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin-left: 8px;
  transition: all 0.2s ease;
}

/*start products_cards*/

.product_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*trending container after sidebar*/

/*start pages container*/

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 100px;
  margin-top: 44px;
  width: 100%;
}
.left_pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  justify-content: flex-start;
}
.pages_ul {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  vertical-align: baseline;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages_ul li {
  display: inline-block;
}
.pages a {
  color: #c4c4c4;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
.next_hidden a {
  color: #ef5b70;
}
.pages a span {
  color: #ef5b70;
}
.right_view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  justify-content: flex-end;
}
.right_view button {
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.2s ease;
}
.right_view button a {
  color: #ef5b70;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

/*pages container*/

/*start free_delivery*/

.free_delivery1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 341px;
  background: #222224 no-repeat;
  justify-content: center;
  padding-left: 35px;
}
.card1 {
  display: flex;
  flex-direction: column;
  width: 389px;
  justify-content: center;
  align-items: center;
  margin-top: 89px;
  margin-bottom: 115px;
}

.free_delivery1 .card1__img {
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding-top: 89px;
}
.card1__p {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.35px;
  width: 389px;
  padding-top: 5px;
  margin-bottom: 115px;
}
.card1__h3 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 50px;
}

/*end  free_delivery*/

/*START SHOPPING CART*/

/*start cart container*/

.product_art {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.cart {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 100px;
}
.cart_heading {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

.nav_products {
  margin-left: 0 !important;
}

.cart .nav_menu {
  margin-top: 90px;
  justify-content: space-between;
}
.cart_container_left {
  justify-content: flex-start;
  width: 50%;
}
.cart_container_right {
  justify-content: flex-end;
  width: 70%;
}
.cart_container_left .nav_menu {
  margin-left: 30px;
}
.cart_container_right .nav_menu {
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  margin-left: 240px;
  padding-right: -70px;
  width: 100%;
}

/*.menu__list {
  width: 20%;
}*/
.cart_description {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.cart_description_left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  flex-direction: column;
}
.cart_description_right {
  justify-content: space-between;
  width: 70%;
  display: inline-flex;
  flex-direction: row;
}

.cart_descriprion_item {
  /*width: 20%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  display: flex;
  flex-flow: column nowrap;
}

/*end cart container*/

/*start clear continue*/

.clear_continue {
  display: flex;
  width: 100%;
  justify-content: center;
}

.products_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.product_button {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_button a {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.left_clear_continue {
  flex-direction: row;
  justify-content: flex-start;
}
.right_clear_continue {
  flex-direction: row;
  justify-content: flex-end;
}

.left_clear_continue .bottom {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.right_clear_continue .bottom {
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.clear_continue a {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/*clear continue*/

/*start checkout*/

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 79px;
}
.shipping_address {
  flex-direction: column;
  display: flex;
}
.shipping_address h1 {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.shipping_address form {
  width: 355px;
  height: 180px;
  background-color: #fff;
  flex-direction: column;
}
.shipping_address input {
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 20px;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}
.shipping_address .button {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.shipping_address .button a {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.coupon_discount {
  flex-direction: column;
  display: flex;
}
.coupon_discount h1 {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.coupon_discount p {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
.coupon_discount form {
  width: 355px;
  height: 45px;
  /*border: 1px solid #eaeaea;*/
  background-color: #ffffff;
  margin-bottom: 30px;
}
.coupon_discount input {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
}
.coupon_discount .button {
  width: 118px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.coupon_discount .button a {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.grand_total {
  flex-direction: column;
  display: flex;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
}
.grand_total form {
  width: 170px;
  height: 45px;
  background-color: #f5f3f3;
  border: none;
  flex-direction: column;
  border-bottom: 1px solid #e2e2e2;
  align-self: flex-end;
}
.grand_total input {
  background-color: #f5f3f3;
  border: none;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.grand_total .number1 {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.grand_total .button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  margin-top: 18px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e9e1e1;
  transition: all 0.2s ease;
}
.grand_total .button a {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*checkout*/

/*START CHECKOUT PSD*/

/*start registration container*/

.registration {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100%;
}
.left_register {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  display: block;
  justify-content: flex-start;
}
.menu4 {
  position: absolute;
}
.menu4__list .register {
  margin-bottom: 10px;
  line-height: 10px;

}
.left_register .check {
  padding-bottom: 0;
}
.nav_menu4 {
  list-style-type: decimal-leading-zero;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 50px;
  /*line-height: 60px;*/
  margin-bottom: 125px;
}
.time {
  padding-bottom: 10px;
}
.menu4__list {
  line-height: 60px;
  position: relative;
}
.menu4__link {
  border-bottom: 1px solid #e9e1e1;
}
nav_menu4 .sub_menu {
/*  display: none;*/
  font-weight: 400;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border-bottom: 2px solid #e9e1e1;
}
/*.sub_menu {
  display: none;
}*/
.menu4__list:focus ~ .sub_menu,
.menu4__list:active ~ .sub_menu,
.sub_menu:hover {
  display: block;
}

.nav_menu4 h1 {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2px;
  text-align: left;
}
.nav_menu4 .register {
  color: #b3b2b2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: left;
}
.sub_menu .form input {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  /*margin-bottom: 30px;*/
  margin-top: 40px;
}

.sub_menu .checkout_button {
  padding-bottom: 10px;
}
.sub_menu .register_button {
  margin-bottom: 35px;
}
.button_continue {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin: 10px 0 0;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.button_forgot {
  height: 50px;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff;
  margin-left: 35px;
}

.right_registed {
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  display: block;
  justify-content: flex-end;
  text-align: left;
  align-items: flex-end;

}
.right_registed h1 {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 15px;
}
.right_registed .register {
  color: #b3b2b2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.right_registed .form {
  display: column;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
  width: 50%;
}
.right_registed fieldset {
  background-color: white;
}
.right_registed label:after {
  content: "✹";
  color: red;
}
.right_registed input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin: 0 5px 40px 0;
}
.button_continue1 {
  margin-top: 30px;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.right_registed .required {
  color: #ff0d0d;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  margin-top: 125px;
}
.right_subscribe h1:hover {
  transform: rotate(180deg);
  transition: transform 1s;
}
.figure img {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.left_subscribe img {
  animation: rotate-scale-up 2s infinite ease-in-out;
  animation-iteration-count: 1;
}
	.chair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.photo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-image: url(img/Layer_42.png) no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    margin: 11px 0 42px;

}

.women_collection {
    width: 1141px;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -80px;
    position: relative;
}

.moschino {
    /*margin-top: -200px;*/
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 618px;
    text-align: center;
    /*position: relative;*/
    bottom: 20px;
}

.collection {
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 73px;
    margin-bottom: 30px;
}

.collection:hover {

    color: #f38494;

}

.cotton {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

}

.moschino h1 {
    color: #4d4d4d;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-right: 10px;
}

.moschino img {
    margin-bottom: 35px;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
}

.moschino .lorem {
    color: #5e5e5e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    width: 618px;
    align-items: center;
    padding-bottom: 20px;
}

.cotton .material {
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 40px;
}

.cotton .material span {
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.cotton .designer {
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

}

.cotton .designer span {
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.price1_cart_descriprion_item p {
    /*width: 54px;*/
    height: 24px;
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #e9e1e1;
    padding-bottom: 50px;
}

.cart_descriprion_item input {

    border-bottom: 1px solid #e9e1e1;
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}

.choose {
    margin-top: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.choose_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
	margin-bottom: -70px;
	margin-top: 20px;
}

.choose_text p {
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.choose FORM {
    background-color: #fff;
    justify-content: space-between;
    flex-direction: inline-block;
	width: 100%;
}

.choose SELECT {

    /*width: 144px;*/
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    flex-direction: inline-flex;
    margin-right: 55px;
	width: 144px;	
}

.button5 {
    width: 537px;
    height: 55px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 120px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button5 img {
  padding-right: 20px;
}

.button5 a {
	color: #ef5b70;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}
.like_cards {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.like_cards .like {
	color: #4d4d4d;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
	text-align: center;
	width: 100%;
	display: inline-flex;
    flex-direction: row;
    justify-content: center;
	margin-top: 120px;
}
.product_item {
	margin-top: 70px;
}	


